<%= simple_form_for auth_scope do |f| %>
  <%= f.input :name, collection: Patron::Scope::Base.descendants %>
  <%= f.association :user, label_method: :email %>
  <% auth_scope.scope_klass.fields_for_form.each do |field_group| %>


    <div class="card mb-2 px-3 py-3">
      <div class="row">
        <% field_group.each do |field| %>
          <div class="col-sm-4">
            <%= f.label field.name, field.label %>
            <%= f.input field.name,
                        as: field.as,
                        collection: field.collection,
                        required: field.required,
                        label: false,
                        input_html: { multiple: field.multiple } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= f.button :submit, class: 'btn btn-success' %>
<% end %>
