<p id="notice"><%= notice %></p>

<h1>Auth Scopes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Values</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_scopes.each do |auth_scope| %>
      <tr>
        <td><%= auth_scope.name %></td>
        <td><%= auth_scope.user.try(:email) %></td>
        <td><%= auth_scope.values %></td>
        <td><%= link_to 'Show', auth_scope %></td>
        <td><%= link_to 'Edit', edit_auth_scope_path(auth_scope) %></td>
        <td><%= link_to 'Destroy', auth_scope, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth Scope', new_auth_scope_path %>
