<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auth_scope.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @auth_scope.user_id %>
</p>

<p>
  <strong>Values:</strong>
  <%= @auth_scope.values %>
</p>

<%= link_to 'Edit', edit_auth_scope_path(@auth_scope) %> |
<%= link_to 'Back', auth_scopes_path %>
