<%= action_bar do %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button"
            id="scopeListButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">Yeni Scope Oluştur
    </button>
    <div class="dropdown-menu" aria-labelledby="scopeListButton">
      <% Patron.scopes.each do |scope| %>
        <%= link_to "New #{scope}", new_query_store_path(scope: scope), class: 'dropdown-item' %>
      <% end %>
    </div>
  </div>
<% end %>

<h4>Query Store</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Values</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @query_stores.each do |query_store| %>
      <tr>
        <td><%= query_store.name %></td>
        <td><%= query_store.user.try(:email) %></td>
        <td><%= link_to_actions query_store %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
